.header {
    color: aquamarine;
}

nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  
}

.hero {
  min-height: 100vh;
  background-image: url("../images/photo-1507133750040-4a8f57021571-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed  ;
}
.mycolor {
    color: aquamarine;
    background-color: brown;
    font-style: italic;
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gridimportance {
    color: blueviolet;
    font-size: 30%;
}
.footer {background-color: grey;
    color: blueviolet;
    border-color: black;
    width:300px;
    margin:auto}

.foot { background-color: brown;
    
}

#myVideo {
    size: 0cap;
   width: -50%;
   height: -50%;
  }
  
 
  .vidstyle {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 10%;
    padding: 20px;
  }
  
 
  #button {
    width: 40px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #button:hover {
    background: #ddd;
    color: black;
  }

  .update{
    font-size: 50px;
    text-align: center;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.containerr {
    max-width: 400px;
    margin: 100px auto;
    background-color: #f7f6f6;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(241, 232, 232, 0.868);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #000407;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
