.social-media-links {
    list-style: none;
    padding: 0;
}

.social-media-links li {
    display: inline-block;
    margin-right: 10px; /* Adjust spacing between icons */
}

.social-media-links img {
    width: 30px; /* Adjust the size of the icons */
    height: auto;
}
